In [2]:
import pandas as pd
import yfinance as yf
import datetime
from datetime import datetime

In [3]:
combo_multi_path = "../Data/combo_count_multiindex.csv"
ticker_path = "../Data/final_ticker_list.csv"

In [4]:
count_df = pd.read_csv(combo_multi_path, header=[0,1], index_col=0)
ticker_list = pd.read_csv(ticker_path)

In [5]:
ticker_list = ticker_list["Tickers"].to_list()

In [6]:
count_df.head()

,AMC,PUBM,GOGO,ISUN,CLVS,GME,SKT,LGND,TRIT,ESPR,...,JP,AAPL,ET,MSM,FB,TLRY,BRO,CRSR,IBKR,BIO
,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions,...,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions
date,,,,,,,,,,,,,,,,,,,,,
2020-12-08,11.0,2.0,6.0,0.0,0.0,1801.0,0.0,0.0,0.0,0.0,...,2.0,88.0,4.0,0.0,11.0,1.0,77.0,44.0,5.0,1.0
2020-12-09,2.0,26.0,6.0,0.0,0.0,1867.0,0.0,0.0,0.0,0.0,...,61.0,212.0,8.0,0.0,161.0,3.0,151.0,91.0,11.0,6.0
2020-12-10,23.0,3.0,1.0,0.0,0.0,571.0,0.0,0.0,0.0,0.0,...,59.0,113.0,20.0,4.0,155.0,1.0,125.0,52.0,8.0,10.0
2020-12-11,15.0,3.0,0.0,0.0,0.0,406.0,1.0,0.0,0.0,0.0,...,19.0,112.0,6.0,9.0,52.0,0.0,177.0,100.0,18.0,5.0
2020-12-12,33.0,0.0,0.0,0.0,0.0,258.0,0.0,0.0,0.0,0.0,...,11.0,68.0,3.0,0.0,31.0,0.0,132.0,39.0,15.0,8.0

In [7]:
df = pd.DataFrame(yf.download(ticker_list, start="2020-12-08", end="2021-02-05", interval="1d", group_by='tickers', index=False))

[*********************100%***********************]  82 of 82 completed

In [8]:
df.head()

                  CUZ                                                         \
                 Open       High        Low      Close  Adj Close     Volume
Date
2020-12-08  33.869999  33.990002  32.869999  32.980000  32.685974  1085700.0
2020-12-09  33.119999  33.549999  32.790001  33.470001  33.171604   944700.0
2020-12-10  33.139999  34.000000  33.139999  33.950001  33.647327   996100.0
2020-12-11  34.150002  34.529999  33.430000  33.790001  33.488754   867200.0
2020-12-14  34.000000  34.730000  33.840000  34.450001  34.142868  1690700.0

             ITP                    ...    RVP                              \
            Open  High   Low Close  ...    Low  Close Adj Close     Volume
Date                                ...
2020-12-08  0.67  0.71  0.65  0.70  ...   9.25   9.89      9.89  1033800.0
2020-12-09  0.70  0.71  0.65  0.66  ...   9.62   9.96      9.96  1222700.0
2020-12-10  0.64  0.67  0.63  0.63  ...   9.80  12.14     12.14  3398200.0
2020-12-11  0.64  0.67  0.63  0.66  ...  10.54  11.34     11.34  2235900.0
2020-12-14  0.65  0.70  0.65  0.67  ...  11.79  12.77     12.77  3105600.0

              APT
             Open   High    Low  Close Adj Close     Volume
Date
2020-12-08  12.50  13.50  12.22  12.99     12.99  2484700.0
2020-12-09  13.05  13.08  12.03  12.35     12.35  1529500.0
2020-12-10  12.20  12.42  12.07  12.29     12.29   591300.0
2020-12-11  12.30  12.54  12.10  12.10     12.10   603400.0
2020-12-14  12.01  12.20  11.70  12.12     12.12   849500.0

[5 rows x 492 columns]

In [9]:
amc_count = pd.DataFrame(count_df["AMC"])

In [10]:
amc_price = df["AMC"]

In [11]:
amc_result = amc_count.join(amc_price)
amc_result

            mentions   Open       High    Low  Close  Adj Close        Volume
date
2020-12-08      11.0   3.61   4.020000   3.61   3.98       3.98  2.953060e+07
2020-12-09       2.0   4.22   4.330000   3.75   3.86       3.86  2.099120e+07
2020-12-10      23.0   3.79   4.100000   3.77   4.09       4.09  1.987280e+07
2020-12-11      15.0   4.04   4.250000   3.87   3.92       3.92  2.231040e+07
2020-12-12      33.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-13      12.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-14      44.0   4.01   4.010000   3.00   3.19       3.19  6.715900e+07
2020-12-15      65.0   3.24   3.240000   2.76   2.86       2.86  5.443210e+07
2020-12-16      66.0   2.87   2.890000   2.72   2.78       2.78  2.542320e+07
2020-12-17      44.0   2.80   2.950000   2.74   2.85       2.85  2.379930e+07
2020-12-18      16.0   2.85   2.850000   2.76   2.80       2.80  2.194170e+07
2020-12-19      15.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-20       8.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-21      64.0   2.61   2.740000   2.58   2.68       2.68  2.269980e+07
2020-12-22      29.0   2.73   2.750000   2.52   2.59       2.59  2.163840e+07
2020-12-23      25.0   2.58   2.650000   2.54   2.56       2.56  1.572480e+07
2020-12-24       6.0   2.59   2.600000   2.48   2.51       2.51  1.109420e+07
2020-12-25      18.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-26      13.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-27      13.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-28      39.0   2.63   2.630000   2.36   2.39       2.39  2.394270e+07
2020-12-29      39.0   2.44   2.460000   2.28   2.29       2.29  2.108610e+07
2020-12-30      30.0   2.30   2.300000   2.13   2.16       2.16  4.027840e+07
2020-12-31      30.0   2.17   2.220000   2.08   2.12       2.12  2.823430e+07
2021-01-01       2.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-02       2.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-03       1.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-04       4.0   2.20   2.200000   2.00   2.01       2.01  2.987380e+07
2021-01-05       8.0   1.99   2.030000   1.91   1.98       1.98  2.814830e+07
2021-01-06       5.0   2.03   2.230000   1.97   2.01       2.01  6.736330e+07
2021-01-07       9.0   2.08   2.110000   2.02   2.05       2.05  2.615050e+07
2021-01-08       4.0   2.09   2.210000   2.07   2.14       2.14  3.955330e+07
2021-01-09       2.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-10       1.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-11       4.0   2.16   2.270000   2.15   2.20       2.20  4.169580e+07
2021-01-12       3.0   2.24   2.390000   2.24   2.29       2.29  4.178430e+07
2021-01-13       5.0   2.33   2.380000   2.13   2.18       2.18  4.584770e+07
2021-01-14      12.0   2.22   2.320000   2.13   2.18       2.18  4.963880e+07
2021-01-15      61.0   2.20   2.550000   2.18   2.33       2.33  1.623564e+08
2021-01-16       6.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-17       8.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-18      52.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-19      89.0   2.80   3.200000   2.57   3.06       3.06  2.562760e+08
2021-01-20      60.0   3.29   3.340000   2.75   2.97       2.97  1.818622e+08
2021-01-21      29.0   3.00   3.060000   2.85   2.98       2.98  6.482380e+07
2021-01-22     495.0   2.91   3.740000   2.81   3.51       3.51  2.682734e+08
2021-01-23      58.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-24      16.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-25     215.0   4.71   4.880000   3.85   4.42       4.42  4.432381e+08
2021-01-26      51.0   5.09   5.190000   4.37   4.96       4.96  4.568502e+08
2021-01-27   17025.0  20.34  20.360001  11.01  19.90      19.90  1.222342e+09
2021-01-28   24366.0  11.98  16.500000   6.51   8.63       8.63  5.912239e+08
2021-01-29   19266.0  14.31  16.000000  11.60  13.26      13.26  6.021933e+08
2021-01-30   15686.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-31   11754.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-02-01   19609.0  17.00  17.250000  12.91  13.30      13.30  4.346080e+08
2021-02-02   15521.0   9.48  10.100000   6.00   7.82       7.82  4.627759e+08
2021-02-03    1872.0   8.85   9.770000   7.89   8.97       8.97  2.214051e+08
2021-02-04      40.0   8.70   8.740000   7.00   7.09       7.09  1.629858e+08

In [12]:
# for ticker in ticker_list:
#     df[ticker, "Mentions"] = count_df[ticker, "mentions"]

In [13]:
# df = df.sort_index(axis=1)
# df.head()

In [14]:
# new_df = pd.concat([df, count_df], axis=1)

In [15]:
# new_df =new_df.sort_index(axis=1)
# new_df

In [16]:
joined_df = count_df.join(df)
joined_df.head()

                AMC     PUBM     GOGO     ISUN     CLVS      GME      SKT  \
           mentions mentions mentions mentions mentions mentions mentions
date
2020-12-08     11.0      2.0      6.0      0.0      0.0   1801.0      0.0
2020-12-09      2.0     26.0      6.0      0.0      0.0   1867.0      0.0
2020-12-10     23.0      3.0      1.0      0.0      0.0    571.0      0.0
2020-12-11     15.0      3.0      0.0      0.0      0.0    406.0      1.0
2020-12-12     33.0      0.0      0.0      0.0      0.0    258.0      0.0

               LGND     TRIT     ESPR  ...    RVP                              \
           mentions mentions mentions  ...    Low  Close Adj Close     Volume
date                                   ...
2020-12-08      0.0      0.0      0.0  ...   9.25   9.89      9.89  1033800.0
2020-12-09      0.0      0.0      0.0  ...   9.62   9.96      9.96  1222700.0
2020-12-10      0.0      0.0      0.0  ...   9.80  12.14     12.14  3398200.0
2020-12-11      0.0      0.0      0.0  ...  10.54  11.34     11.34  2235900.0
2020-12-12      0.0      0.0      0.0  ...    NaN    NaN       NaN        NaN

              APT
             Open   High    Low  Close Adj Close     Volume
date
2020-12-08  12.50  13.50  12.22  12.99     12.99  2484700.0
2020-12-09  13.05  13.08  12.03  12.35     12.35  1529500.0
2020-12-10  12.20  12.42  12.07  12.29     12.29   591300.0
2020-12-11  12.30  12.54  12.10  12.10     12.10   603400.0
2020-12-12    NaN    NaN    NaN    NaN       NaN        NaN

[5 rows x 574 columns]

In [17]:
joined_df.sort_index(axis=1)
joined_df.head()

                AMC     PUBM     GOGO     ISUN     CLVS      GME      SKT  \
           mentions mentions mentions mentions mentions mentions mentions
date
2020-12-08     11.0      2.0      6.0      0.0      0.0   1801.0      0.0
2020-12-09      2.0     26.0      6.0      0.0      0.0   1867.0      0.0
2020-12-10     23.0      3.0      1.0      0.0      0.0    571.0      0.0
2020-12-11     15.0      3.0      0.0      0.0      0.0    406.0      1.0
2020-12-12     33.0      0.0      0.0      0.0      0.0    258.0      0.0

               LGND     TRIT     ESPR  ...    RVP                              \
           mentions mentions mentions  ...    Low  Close Adj Close     Volume
date                                   ...
2020-12-08      0.0      0.0      0.0  ...   9.25   9.89      9.89  1033800.0
2020-12-09      0.0      0.0      0.0  ...   9.62   9.96      9.96  1222700.0
2020-12-10      0.0      0.0      0.0  ...   9.80  12.14     12.14  3398200.0
2020-12-11      0.0      0.0      0.0  ...  10.54  11.34     11.34  2235900.0
2020-12-12      0.0      0.0      0.0  ...    NaN    NaN       NaN        NaN

              APT
             Open   High    Low  Close Adj Close     Volume
date
2020-12-08  12.50  13.50  12.22  12.99     12.99  2484700.0
2020-12-09  13.05  13.08  12.03  12.35     12.35  1529500.0
2020-12-10  12.20  12.42  12.07  12.29     12.29   591300.0
2020-12-11  12.30  12.54  12.10  12.10     12.10   603400.0
2020-12-12    NaN    NaN    NaN    NaN       NaN        NaN

[5 rows x 574 columns]

In [54]:
stack = joined_df.stack(list(range(joined_df.columns.nlevels - 1)))

In [55]:
stack = pd.DataFrame(stack)

In [56]:
stack

                  Adj Close       Close        High         Low        Open  \
date
2020-12-08 AAL    17.629999   17.629999   17.920000   17.160000   17.469999
           AAPL  124.194412  124.379997  124.980003  123.089996  124.370003
           ALOT   11.680000   11.680000   11.740000   11.500000   11.520000
           AMC     3.980000    3.980000    4.020000    3.610000    3.610000
           AMCX   31.070000   31.070000   32.139999   30.889999   31.280001
...                     ...         ...         ...         ...         ...
2021-02-04 TRHC   53.450001   53.450001   54.490002   52.770000   54.290001
           TRIT    6.920000    6.920000    7.160000    6.900000    7.150000
           TSLA  849.989990  849.989990  856.500000  833.419983  855.000000
           VXRT    9.050000    9.050000   10.500000    8.910000    9.940000
           ZYXI   18.160000   18.160000   18.980000   17.910000   18.910000

                     Volume  mentions
date
2020-12-08 AAL   95855400.0      21.0
           AAPL  82225500.0      88.0
           ALOT     27100.0       4.0
           AMC   29530600.0      11.0
           AMCX    591300.0       0.0
...                     ...       ...
2021-02-04 TRHC    331900.0       0.0
           TRIT   4005300.0       0.0
           TSLA  15812700.0       0.0
           VXRT  37896600.0       0.0
           ZYXI    559300.0       0.0

[4838 rows x 7 columns]

In [32]:
stack.to_csv("../Data/mentions_price_by_day.csv")

In [61]:
test = pd.read_csv("../Data/mentions_price_by_day.csv", header=[0], index_col=[0,1])

In [62]:
test

                  Adj Close       Close        High         Low        Open  \
date
2020-12-08 AAL    17.629999   17.629999   17.920000   17.160000   17.469999
           AAPL  124.194412  124.379997  124.980003  123.089996  124.370003
           ALOT   11.680000   11.680000   11.740000   11.500000   11.520000
           AMC     3.980000    3.980000    4.020000    3.610000    3.610000
           AMCX   31.070000   31.070000   32.139999   30.889999   31.280001
...                     ...         ...         ...         ...         ...
2021-02-04 TRHC   53.450001   53.450001   54.490002   52.770000   54.290001
           TRIT    6.920000    6.920000    7.160000    6.900000    7.150000
           TSLA  849.989990  849.989990  856.500000  833.419983  855.000000
           VXRT    9.050000    9.050000   10.500000    8.910000    9.940000
           ZYXI   18.160000   18.160000   18.980000   17.910000   18.910000

                     Volume  mentions
date
2020-12-08 AAL   95855400.0      21.0
           AAPL  82225500.0      88.0
           ALOT     27100.0       4.0
           AMC   29530600.0      11.0
           AMCX    591300.0       0.0
...                     ...       ...
2021-02-04 TRHC    331900.0       0.0
           TRIT   4005300.0       0.0
           TSLA  15812700.0       0.0
           VXRT  37896600.0       0.0
           ZYXI    559300.0       0.0

[4838 rows x 7 columns]

In [59]:
test.to_sql("price_mentions")

In [60]:
test

MultiIndex([(  17.6299991607666,   17.6299991607666, 17.920000076293945, ...),
            (124.19441223144531, 124.37999725341795,  124.9800033569336, ...),
            ( 11.68000030517578,  11.68000030517578, 11.739999771118164, ...),
            (3.9800000190734863, 3.9800000190734863,  4.019999980926514, ...),
            ( 31.06999969482422,  31.06999969482422, 32.139999389648445, ...),
            (  43.9900016784668,   43.9900016784668,  44.27999877929688, ...),
            (12.989999771118164, 12.989999771118164,               13.5, ...),
            (15.960000038146973, 15.960000038146973, 16.200000762939453, ...),
            (7.4099998474121085, 7.4099998474121085,  7.449999809265138, ...),
            ( 18.59000015258789,  18.59000015258789,  19.51000022888184, ...),
            ...
            ( 53.81000137329102,  53.81000137329102,  54.61999893188477, ...),
            (  58.2400016784668,   58.2400016784668,  58.41999816894531, ...),
            ( 3.119999885559082,  3.119999885559082, 3.1800000667572017, ...),
            ( 26.78000068664551,  26.78000068664551, 27.399999618530273, ...),
            (31.420000076293945, 31.420000076293945,              32.25, ...),
            ( 53.45000076293945,  53.45000076293945,   54.4900016784668, ...),
            ( 6.920000076293945,  6.920000076293945, 7.1599998474121085, ...),
            (  849.989990234375,   849.989990234375,              856.5, ...),
            ( 9.050000190734863,  9.050000190734863,               10.5, ...),
            ( 18.15999984741211,  18.15999984741211, 18.979999542236328, ...)],
           names=['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume', 'mentions'], length=4838)