In [1]:
import re
import pandas as pd
from datetime import datetime
import numpy as np
import boto3

In [2]:
gittest

NameError: name 'gittest' is not defined

In [ ]:
df = pd.read_csv('/Users/gregfinin/Project/comments.csv')

In [ ]:
df['body'].dropna()

In [ ]:
comment_df = pd.DataFrame({
    'body': df['body'],
    'date_created': pd.to_datetime(df['created_utc'], unit='s')
})
comment_df

In [ ]:
comment_df_cleaned = comment_df['body'].dropna(how=any)
comment_df_cleaned

In [ ]:
cleaned_df = pd.DataFrame(comment_df_cleaned)
cleaned_df['date'] = comment_df['date_created']
cleaned_df

In [8]:
stonk_df = pd.read_csv('/Users/gregfinin/Class/Final_Project_WSB/stocks_df_final.csv')
stonk_df

     Ticker Name  Ticker Count
0            GME         52231
1            AMC         22200
2           NEXT         11282
3             BB          7235
4           GOOD          6508
...          ...           ...
6930        ZUMZ             0
6931         ZVO             0
6932        ZWRK             0
6933       ZWRKU             0
6934       ZWRKW             0

[6935 rows x 2 columns]

In [9]:
ticker_tester = ['gme', 'amc', 'bb']

In [10]:
for ticker in ticker_tester:
    cleaned_df[ticker] = np.where(cleaned_df['body'].str.lower().str.contains(ticker), 1, 0)

In [11]:
cleaned_df['date'] = cleaned_df['date'].dt.date

In [12]:
cleaned_df

,body,date,gme,amc,bb
0,#DIPPING,2020-12-14,0,0,0
1,NIO and SPCE ftw,2020-12-14,0,0,0
2,Flat,2020-12-14,0,0,0
3,Lol what happened to the limit up everyone's b...,2020-12-14,0,0,0
4,"Jan 22 2021, 40.5",2020-12-14,0,0,0
...,...,...,...,...,...
9559652,Lmao I got 2 nights to sleep over it. I might ...,2021-01-23,0,0,0
9559653,Squeeze aside. Are there price targets for GME...,2021-01-23,1,0,0
9559654,TD Ameritrade,2021-01-23,0,0,0
9559655,Same. I've got 30k in savings but thinking of ...,2021-01-23,0,0,0
9559656,Imagine being so uneducated and ingnorant you ...,2021-01-23,0,0,0

In [13]:
comment_agg_df = cleaned_df.groupby('date')[ticker_tester].sum()
comment_agg_df

              gme    amc     bb
date
2020-12-08   2924     22    424
2020-12-09   2682     12    913
2020-12-10    946     34    997
2020-12-11    599     38    733
2020-12-12    348     46    677
2020-12-13    470     20    413
2020-12-14   1025     79    539
2020-12-15   1123    109    536
2020-12-16    587    110    495
2020-12-17    763    107    960
2020-12-18   1165     37    955
2020-12-19    365     17    452
2020-12-20    369     12    379
2020-12-21   1071    108    588
2020-12-22   3690     57    729
2020-12-23   4494     41    733
2020-12-24   2040     10    454
2020-12-25    966     25    331
2020-12-26   1050     29    312
2020-12-27   1317     32    428
2020-12-28   2935     73    549
2020-12-29   2551     54    664
2020-12-30   2056     56    537
2020-12-31   3097     52    566
2021-01-01   1012     21    337
2021-01-02   1098      8    404
2021-01-03    719      3    341
2021-01-04   1782     10    537
2021-01-05   1445     22    641
2021-01-06   1220     10    923
2021-01-07   1122     16   1041
2021-01-08   1134      5   1358
2021-01-09    464      4    886
2021-01-10    742      6    672
2021-01-11   2513     11    844
2021-01-12   1273     18    799
2021-01-13  11797     16    738
2021-01-14  16050     23   4193
2021-01-15  16038    157   9408
2021-01-16   4730      9   2109
2021-01-17   3832      9   1614
2021-01-18   5860    112   2637
2021-01-19   9986    253   5700
2021-01-20   7716    179   6173
2021-01-21   8988     87   5543
2021-01-22  17342   1120  10039
2021-01-23  10800    151   5972
2021-01-24   3245     29   1383
2021-01-27  41289  28415  18774
2021-01-28  75240  32701  22594
2021-01-29  59986  29956  17943
2021-01-30  42644  24029  10989
2021-01-31  42689  18493   8405
2021-02-01  49206  31592   9870
2021-02-02  44371  21521   6130
2021-02-03   3334   1483    616

In [17]:
for col in comment_agg_df:
    new = 'running total' + col
    comment_agg_df[new] = np.cumsum(comment_agg_df[col])

In [18]:
comment_agg_df

,gme,amc,bb,running totalgme,running totalamc,running totalbb
date,,,,,,
2020-12-08,2924,22,424,2924,22,424
2020-12-09,2682,12,913,5606,34,1337
2020-12-10,946,34,997,6552,68,2334
2020-12-11,599,38,733,7151,106,3067
2020-12-12,348,46,677,7499,152,3744
2020-12-13,470,20,413,7969,172,4157
2020-12-14,1025,79,539,8994,251,4696
2020-12-15,1123,109,536,10117,360,5232
2020-12-16,587,110,495,10704,470,5727
2020-12-17,763,107,960,11467,577,6687
2020-12-18,1165,37,955,12632,614,7642
2020-12-19,365,17,452,12997,631,8094
2020-12-20,369,12,379,13366,643,8473
2020-12-21,1071,108,588,14437,751,9061
2020-12-22,3690,57,729,18127,808,9790
2020-12-23,4494,41,733,22621,849,10523
2020-12-24,2040,10,454,24661,859,10977
2020-12-25,966,25,331,25627,884,11308
2020-12-26,1050,29,312,26677,913,11620
2020-12-27,1317,32,428,27994,945,12048
2020-12-28,2935,73,549,30929,1018,12597
2020-12-29,2551,54,664,33480,1072,13261
2020-12-30,2056,56,537,35536,1128,13798
2020-12-31,3097,52,566,38633,1180,14364
2021-01-01,1012,21,337,39645,1201,14701
2021-01-02,1098,8,404,40743,1209,15105
2021-01-03,719,3,341,41462,1212,15446
2021-01-04,1782,10,537,43244,1222,15983
2021-01-05,1445,22,641,44689,1244,16624
2021-01-06,1220,10,923,45909,1254,17547
2021-01-07,1122,16,1041,47031,1270,18588
2021-01-08,1134,5,1358,48165,1275,19946
2021-01-09,464,4,886,48629,1279,20832
2021-01-10,742,6,672,49371,1285,21504
2021-01-11,2513,11,844,51884,1296,22348
2021-01-12,1273,18,799,53157,1314,23147
2021-01-13,11797,16,738,64954,1330,23885
2021-01-14,16050,23,4193,81004,1353,28078
2021-01-15,16038,157,9408,97042,1510,37486
2021-01-16,4730,9,2109,101772,1519,39595
2021-01-17,3832,9,1614,105604,1528,41209
2021-01-18,5860,112,2637,111464,1640,43846
2021-01-19,9986,253,5700,121450,1893,49546
2021-01-20,7716,179,6173,129166,2072,55719
2021-01-21,8988,87,5543,138154,2159,61262
2021-01-22,17342,1120,10039,155496,3279,71301
2021-01-23,10800,151,5972,166296,3430,77273
2021-01-24,3245,29,1383,169541,3459,78656
2021-01-27,41289,28415,18774,210830,31874,97430
2021-01-28,75240,32701,22594,286070,64575,120024
2021-01-29,59986,29956,17943,346056,94531,137967
2021-01-30,42644,24029,10989,388700,118560,148956
2021-01-31,42689,18493,8405,431389,137053,157361
2021-02-01,49206,31592,9870,480595,168645,167231
2021-02-02,44371,21521,6130,524966,190166,173361
2021-02-03,3334,1483,616,528300,191649,173977

In [37]:
comment_agg_df.to_csv(path_or_buf='/Users/gregfinin/Project/comments_df_agg.csv',index=False)

In [38]:
ticker_names = []
ticker_counts = []

In [40]:
for ticker in ticker_tester:
    count = cleaned_df['body'].str.contains(rf"\s({ticker})\s", flags=re.IGNORECASE, regex=True).sum()
    ticker_names.append(ticker)
    ticker_counts.append(count)

In [43]:
ticker_count_df = pd.DataFrame(ticker_names)
ticker_count_df['count'] = ticker_counts
ticker_count_df

     0   count
0  gme  318190
1  amc  103203
2   bb   62630

In [45]:
ticker_count_df.to_csv(path_or_buf='/Users/gregfinin/Project/total_comments_df_agg.csv',index=False)