In [1]:
import re
import pandas as pd
from datetime import datetime
import numpy as np
import boto3

In [2]:
df = pd.read_csv('/Users/gregfinin/Project/comments.csv')

In [3]:
df['body'].dropna()

0                                                   #DIPPING
1                                           NIO and SPCE ftw
2                                                       Flat
3          Lol what happened to the limit up everyone's b...
4                                          Jan 22 2021, 40.5
                                 ...
9559652    Lmao I got 2 nights to sleep over it. I might ...
9559653    Squeeze aside. Are there price targets for GME...
9559654                                        TD Ameritrade
9559655    Same. I've got 30k in savings but thinking of ...
9559656    Imagine being so uneducated and ingnorant you ...
Name: body, Length: 9559647, dtype: object

In [18]:
comment_df = pd.DataFrame({
    'body': df['body'],
    'date_created': pd.to_datetime(df['created_utc'], unit='s')
})
comment_df

                                                      body        date_created
0                                                 #DIPPING 2020-12-14 14:51:22
1                                         NIO and SPCE ftw 2020-12-14 14:51:22
2                                                     Flat 2020-12-14 14:51:22
3        Lol what happened to the limit up everyone's b... 2020-12-14 14:51:21
4                                        Jan 22 2021, 40.5 2020-12-14 14:51:21
...                                                    ...                 ...
9559652  Lmao I got 2 nights to sleep over it. I might ... 2021-01-23 14:36:18
9559653  Squeeze aside. Are there price targets for GME... 2021-01-23 14:36:18
9559654                                      TD Ameritrade 2021-01-23 14:36:16
9559655  Same. I've got 30k in savings but thinking of ... 2021-01-23 14:36:15
9559656  Imagine being so uneducated and ingnorant you ... 2021-01-23 14:36:13

[9559657 rows x 2 columns]

In [26]:
comment_df_cleaned = comment_df['body'].dropna(how=any)
comment_df_cleaned

0                                                   #DIPPING
1                                           NIO and SPCE ftw
2                                                       Flat
3          Lol what happened to the limit up everyone's b...
4                                          Jan 22 2021, 40.5
                                 ...
9559652    Lmao I got 2 nights to sleep over it. I might ...
9559653    Squeeze aside. Are there price targets for GME...
9559654                                        TD Ameritrade
9559655    Same. I've got 30k in savings but thinking of ...
9559656    Imagine being so uneducated and ingnorant you ...
Name: body, Length: 9559647, dtype: object

In [28]:
cleaned_df = pd.DataFrame(comment_df_cleaned)
cleaned_df['date'] = comment_df['date_created']
cleaned_df

                                                      body                date
0                                                 #DIPPING 2020-12-14 14:51:22
1                                         NIO and SPCE ftw 2020-12-14 14:51:22
2                                                     Flat 2020-12-14 14:51:22
3        Lol what happened to the limit up everyone's b... 2020-12-14 14:51:21
4                                        Jan 22 2021, 40.5 2020-12-14 14:51:21
...                                                    ...                 ...
9559652  Lmao I got 2 nights to sleep over it. I might ... 2021-01-23 14:36:18
9559653  Squeeze aside. Are there price targets for GME... 2021-01-23 14:36:18
9559654                                      TD Ameritrade 2021-01-23 14:36:16
9559655  Same. I've got 30k in savings but thinking of ... 2021-01-23 14:36:15
9559656  Imagine being so uneducated and ingnorant you ... 2021-01-23 14:36:13

[9559647 rows x 2 columns]

In [29]:
stonk_df = pd.read_csv('/Users/gregfinin/Class/Final_Project_WSB/stocks_df_final.csv')
stonk_df

     Ticker Name  Ticker Count
0             AA            20
1           AACG             0
2           AACQ             0
3          AACQU             0
4          AACQW             0
...          ...           ...
6930       ZWRKW             0
6931        ZYME             1
6932        ZYNE             2
6933        ZYXI             1
6934         SLV           862

[6935 rows x 2 columns]

In [30]:
ticker_tester = ['gme', 'amc', 'bb']

In [32]:
for ticker in ticker_tester:
    cleaned_df[ticker] = np.where(cleaned_df['body'].str.lower().str.contains(ticker), 1, 0)

In [34]:
cleaned_df['date'] = cleaned_df['date'].dt.date

In [35]:
cleaned_df

,body,date,gme,amc,bb
0,#DIPPING,2020-12-14,0,0,0
1,NIO and SPCE ftw,2020-12-14,0,0,0
2,Flat,2020-12-14,0,0,0
3,Lol what happened to the limit up everyone's b...,2020-12-14,0,0,0
4,"Jan 22 2021, 40.5",2020-12-14,0,0,0
...,...,...,...,...,...
9559652,Lmao I got 2 nights to sleep over it. I might ...,2021-01-23,0,0,0
9559653,Squeeze aside. Are there price targets for GME...,2021-01-23,1,0,0
9559654,TD Ameritrade,2021-01-23,0,0,0
9559655,Same. I've got 30k in savings but thinking of ...,2021-01-23,0,0,0
9559656,Imagine being so uneducated and ingnorant you ...,2021-01-23,0,0,0

In [36]:
comment_agg_df = cleaned_df.groupby('date')[ticker_tester].sum()
comment_agg_df

              gme    amc     bb
date
2020-12-08   2924     22    424
2020-12-09   2682     12    913
2020-12-10    946     34    997
2020-12-11    599     38    733
2020-12-12    348     46    677
2020-12-13    470     20    413
2020-12-14   1025     79    539
2020-12-15   1123    109    536
2020-12-16    587    110    495
2020-12-17    763    107    960
2020-12-18   1165     37    955
2020-12-19    365     17    452
2020-12-20    369     12    379
2020-12-21   1071    108    588
2020-12-22   3690     57    729
2020-12-23   4494     41    733
2020-12-24   2040     10    454
2020-12-25    966     25    331
2020-12-26   1050     29    312
2020-12-27   1317     32    428
2020-12-28   2935     73    549
2020-12-29   2551     54    664
2020-12-30   2056     56    537
2020-12-31   3097     52    566
2021-01-01   1012     21    337
2021-01-02   1098      8    404
2021-01-03    719      3    341
2021-01-04   1782     10    537
2021-01-05   1445     22    641
2021-01-06   1220     10    923
2021-01-07   1122     16   1041
2021-01-08   1134      5   1358
2021-01-09    464      4    886
2021-01-10    742      6    672
2021-01-11   2513     11    844
2021-01-12   1273     18    799
2021-01-13  11797     16    738
2021-01-14  16050     23   4193
2021-01-15  16038    157   9408
2021-01-16   4730      9   2109
2021-01-17   3832      9   1614
2021-01-18   5860    112   2637
2021-01-19   9986    253   5700
2021-01-20   7716    179   6173
2021-01-21   8988     87   5543
2021-01-22  17342   1120  10039
2021-01-23  10800    151   5972
2021-01-24   3245     29   1383
2021-01-27  41289  28415  18774
2021-01-28  75240  32701  22594
2021-01-29  59986  29956  17943
2021-01-30  42644  24029  10989
2021-01-31  42689  18493   8405
2021-02-01  49206  31592   9870
2021-02-02  44371  21521   6130
2021-02-03   3334   1483    616

In [37]:
comment_agg_df.to_csv(path_or_buf='/Users/gregfinin/Project/comments_df_agg.csv',index=False)

In [38]:
ticker_names = []
ticker_counts = []

In [40]:
for ticker in ticker_tester:
    count = cleaned_df['body'].str.contains(rf"\s({ticker})\s", flags=re.IGNORECASE, regex=True).sum()
    ticker_names.append(ticker)
    ticker_counts.append(count)

In [43]:
ticker_count_df = pd.DataFrame(ticker_names)
ticker_count_df['count'] = ticker_counts
ticker_count_df

     0   count
0  gme  318190
1  amc  103203
2   bb   62630

In [45]:
ticker_count_df.to_csv(path_or_buf='/Users/gregfinin/Project/total_comments_df_agg.csv',index=False)